<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :long, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :long, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artist, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :artist, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :opener, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :opener, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number_of_people, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number_of_people, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sold_out, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :sold_out, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
