<div class="container">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Zoun!</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a class="icon-volume-up" href="#"></a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar navbar-inner -->
  </div><!--/.navbar navbar-fixed-top -->
  <div class="row">
    <div class= "span5 offset1">
      <br>
      <h1><%= @event.name %></h1>
      <br>
      <h4> At the <%= @event.location %> </h4>
    </div>
    <div class= "span4">
      <img src="http://maps.googleapis.com/maps/api/staticmap?&size=500x150&sensor=false&zoom=11&maptype=terrain&markers=color:blue%7C<%= @event.lat %>,<%= @event.long %>" alt="You were here." />
    </div>
  </div>
  <br>
  <div class="row">
   <div class="span2 offset1" >
    <table class="table-striped table-bordered table">
      <tr class="song" >
        <td><h4> Set List: </h4></td>
      </tr>
      <tr class="song" >
        <% @songs.each do |song| %>
        <td><h7><%= song.name.html_safe %></h7></td>
      </tr>
      <% end %>
    </table>
    <div id="apiswf"></div>
    <dl>
      <dt>track</dt>
      <dd id="track"></dd>
      <dt>position</dt>
      <dd id="position"></dd>
    </dl>
    <input id="play_key" value="p909014" type="hidden"><button id="play">Play</button><br>
    <button id="pause">Pause</button>
    <button id="next">Next</button>
  </div>

  <div class="span6" id="tweet">
    <table class="table-striped table">
      <% @tweetsall.each do |tweet| %>
      <% if tweet.second_pass == true %>
      <% if not tweet.categories.first.nil? %>
      <% if tweet.categories.first.name == "Anticipation" %>
      <tr class="tweet" >
        <td><h5><%= tweet.text.html_safe %></h5></td>
        <td><span class="tag">
         <% if not tweet.categories.first.nil? %>
         <%= tweet.categories.first.name %>
         <% end %>
       </h9></span>
     </tr>
     <% end %>
     <% end %>
     <% end %>
     <% end %>



      <% @tweetsall.each do |tweet| %>
      <% if tweet.second_pass == true %>
      <% if not tweet.categories.first.nil? %>
      <% if tweet.categories.first.name == "On Way To Concert" %>
      <tr class="tweet" >
        <td><h5><%= tweet.text.html_safe %></h5></td>
        <td><span class="tag">
         <% if not tweet.categories.first.nil? %>
         <%= tweet.categories.first.name %>
         <% end %>
       </h9></span>
     </tr>
     <% end %>
     <% end %>
     <% end %>
     <% end %>

      <% @tweetsall.each do |tweet| %>
      <% if tweet.second_pass == true %>
      <tr class="tweet" >
        <td><h5><%= tweet.text.html_safe %></h5></td>
        <td><span class="tag">
         <% if not tweet.categories.first.nil? %>
         <% if tweet.categories.first.name != ("Anticipation" || "On Way To Concert" || "After The Concert") %>
         <%= tweet.categories.first.name %>
         <% end %>
         <% end %>
       </h9></span>
     </tr>
     <% end %>
     <% end %>


      <% @tweetsall.each do |tweet| %>
      <% if tweet.second_pass == true %>
      <% if not tweet.categories.first.nil? %>
      <% if tweet.categories.first.name == "After The Concert" %>
      <tr class="tweet" >
        <td><h5><%= tweet.text.html_safe %></h5></td>
        <td><span class="tag">
         <% if not tweet.categories.first.nil? %>
         <%= tweet.categories.first.name %>
         <% end %>
       </h9></span>
     </tr>
     <% end %>
     <% end %>
     <% end %>
     <% end %>


   </table>
 </div>

 <div class="" id="instagram">
  <table class="table-striped table-bordered">
    <% @tweetsall.each do |tweet| %>
    <% if tweet.first_pass == true %>
    <tr class="tweet" >
      <td>
        <div class="thumbnail span3">
          <img src="<%= tweet.image %>">
        </div>
      </td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
</div>
<hr>


<footer>
  <p><h3> Show's over. Go home. </h3></p>
</footer>
</div>