<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Location</th>
    <th>Artist</th>
    <th>Opener</th>
    <th>Number of people</th>
    <th>Sold out</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.lat %></td>
    <td><%= event.long %></td>
    <td><%= event.location %></td>
    <td><%= event.artist %></td>
    <td><%= event.opener %></td>
    <td><%= event.number_of_people %></td>
    <td><%= event.sold_out %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
