<%- model_class = @event.class -%>
<h1><%= @event.name %></h1>
<br>
<br>
<hr>


<div>
  <h1>ALL</h1>
  <br>
  <table class="table-striped table-bordered ">
    <% i = 0 %>
    <% @tweetsall.each do |tweet| %>
    <tr class="tweet" data-time="<%= tweet.id %>">
      <td><h6><%= tweet.text.html_safe %></h6></td>
    </tr>
    <% i = i + 1 %>
    <% end %>
  </table>
  <%= "Count: " + i.to_s %>
</div>
<br>
<br>
<div>
  <h1>Filtered</h1>
  <br>
  <table class="table-striped table-bordered">
    <% i = 0 %>
    <% @tweetsall.each do |tweet| %>
    <% if tweet.second_pass %>
    <tr class="tweet" data-time="<%= tweet.id %>">
      <td><h5><%= tweet.text.html_safe %></h5></td>
    </tr>
    <% i = i + 1 %>
    <% end %>
    <% end %>
  </table>
  <%= "Count: " + i.to_s  %>
</div>
<br>
<br>
<div>
  <h1>Instagam</h1>
  <br>
  <table class="table-striped table-bordered ">
    <% i = 0 %>
    <% @tweetsall.each do |tweet| %>
    <% if tweet.first_pass %>
    <tr class="tweet" data-time="<%= tweet.id %>">
      <td><6><%= tweet.text.html_safe %></h6></td>
    </tr>
    <td>
      <div class="thumbnail span4">

        <img src="<%= tweet.image %>">
      </div>
    </td>
    <% i = i + 1 %>
    <% end %>
    <% end %>
  </table>
  <%= "Count: " + i.to_s  %>
</div>
<br>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @event.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:lat) %>:</strong><br>
  <%= @event.lat %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:long) %>:</strong><br>
  <%= @event.long %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:location) %>:</strong><br>
  <%= @event.location %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:artist) %>:</strong><br>
  <%= @event.artist %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:opener) %>:</strong><br>
  <%= @event.opener %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:number_of_people) %>:</strong><br>
  <%= @event.number_of_people %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:sold_out) %>:</strong><br>
  <%= @event.sold_out %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
  events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
  edit_event_path(@event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
  event_path(@event),
  :method => 'delete',
  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
  :class => 'btn btn-danger' %>
</div>
